* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 40px;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  background-color: var(--slate-300);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.qr-container {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--white);
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-lg) var(--spacing-sm);
  gap: var(--spacing-md);
  width: 95vw;
  max-width: 320px;
}

.qr-img {
  border-radius: 10px;
  max-width: 100%;
}

.qr-heading {
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  color: var(--slate-900);
}

.qr-description {
  padding: 0 var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.qr-container p {
  color: var(--slate-500);
  text-align: center;
}
