* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: hsl(0, 0%, 100%);
  --slate-300: hsl(212, 45%, 89%);
  --slate-500: hsl(216, 15%, 48%);
  --slate-900: hsl(218, 44%, 22%);

  --spacing-sm: 16px;
  --spacing-md: 24px;
  --spacing-lg: 40px;
}

body {
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  line-height: 140%;
  letter-spacing: 0.2px;
  background-color: var(--slate-300);
}

.qr-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: var(--white);
  padding: var(--spacing-sm) var(--spacing-sm) var(--spacing-lg) var(--spacing-sm);
  gap: var(--spacing-md);
}

.qr-img {
  border-radius: 10px;
  height: 288px;
  width: 288px;
}

.qr-heading {
  font-size: 22px;
  font-weight: bold;
  line-height: 120%;
  letter-spacing: 0;
  text-align: center;
  color: var(--slate-900);
}

.qr-description {
  padding: 0 var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.qr-container p {
  color: var(--slate-500);
  text-align: center;
}
